@import './utils/variables';
@import './base/reset'; 
@import './utils/hidden';
@import './components/header';
@import './components/hero';
@import './components/about';
@import './components/what-we-do';
@import './components/team';
@import './components/regular-customers';
@import './components/footer';
@import './components/main-portfolio';
@import './components/filter';
@import './components/projects';
@import './components/backdrop';
@import './components/hidden';
@import './components/btn';
@import './components/contacts';
@import './components/container';
@import './components/processing';
