.contacts {
    text-decoration: none;
    &:hover,
    &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
    transition: fill 250ms, color 250ms;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  }  
}
  