.projects-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .projects-filter__item:not(:last-child) {
    margin-right: 8px;
  }
  
  .projects-filter__btn {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
  }