.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background);
}

.footer-columns {
  display: flex;
}

.footer__column-one {
  margin-right: 70px;
}

.footer__column-two
{
  margin-right: 93px;
  padding-top: 12px;
}

.footer__column-three{
  padding-top: 12px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-logo__text-web {
  color: var(--accent-color);
}

.footer-logo__text-studio {
  color: var(--white);
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  color: var(--white);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-tel__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail__paragraph {
  margin-top: 9px;
}

.footer-tel__paragraph {
  margin-top: 9px;
}

.footer__join {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-subscribe {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-list {
  display: flex;
  justify-content: center; 
} 

.footer-list__item {
  width: 44px;
  height: 44px;
  &:not(:last-child){
    margin-right: 10px; 
  }
}

 .footer-list__link {
   width: 100%;
   height: 100%;
   display: flex; 
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.1);
  &:hover, 
  &:focus {
  background-color: var(--accent-color);
  transition: background-color 250ms;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  }
} 

.footer__icon {
  fill:#FFFFFF;
}

.footer-form{
  display: flex;
}

.footer__input-email {
  margin-right: 12px;
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6); 
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  &::placeholder {
    font-family: "Roboto", sans-serif; 
   }
}

.footer__btn{
  padding-left: 29px;
  display: flex;
  align-items: center;
  width: 200px;
  min-height: 50px;
  background-color:var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.06em;
  display: flex;
  text-align: center;
}



.footer__icon-send {
  fill:var(--white);
  margin-left: 10px;
}
