.header-portfolio {
  border-bottom: 1px solid #ececec;
}

.header {
  background: var(--white);
  padding-left: auto;
  padding-right: auto;
}

.header-list__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header--underlined::after {
  position: absolute;
  content: '';
  background:var(--accent-color);
  position: absolute;
  height: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 2px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo__text-web {
  color: var(--accent-color);
}

.header-logo__text-studio {
  color: #212121;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}


.header-list__link {
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  }
}

.header-right {
  margin-left: auto;
  display: flex;
}

.header-right__tel {
  height: 16px;
  fill:var(--main-text-color);
  margin-left: 50px;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  text-align: center;
}

.header-right__smartphone-icon {
  margin-right: 10px;
}

.header-right__mail {
  fill:var(--main-text-color);
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  text-align: center;
}


.header-right__envelope-icon {
  margin-right: 10px;
}
