.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
  url(../images/background/header-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-elements {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-elements__title {
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  text-align: center;
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
}

.hero-elements__btn {
  margin: 30px auto 0px auto;
  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  font-family: "Roboto", sans-serif;
  background-color: var(--accent-color);
  color: var(--white);
  font-weight: bold;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
