.projects-item:hover,
.projects-item:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.projects-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-item {
  width: 370px;
  background: #ffffff;
}

.projects-item:hover .projects-top-text{
  transform: translateY(0%);
}

.projects-overlay {
  position: relative;
  overflow: hidden;
}

.projects-image {
  border: none;
  display: block;
}

.projects-top-text{
  padding: 63px 24px 0px 24px;
  color: #fff;
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms;
}

.projects-top-text:hover {
  transform: translateY(-100%);
}

.projects-item {
  flex-basis: ((370px - 90px)/3);
  margin-left: 30px;
  margin-top: 30px;
}

.projects-bordered {
  padding: 20px 24px 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.projects-header {
  width: 322px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-paragraph {
  margin-top: 4px;
  width: 322px;
  color: #212121;
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
