.regular-customers__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  
  .regular-customers-list {
    display: flex;
  }
  
  .regular-customers-list__link {
      width: 170px;
      height: 92px;
      border: 1px solid #AFB1B8;
      box-sizing: border-box;
      border-radius: 4px;
      display: flex; 
      align-items: center;
      justify-content: center;
      &:hover, 
      &:focus {
      border-color:var(--accent-color);
      cursor: pointer;
      transition: border-color 250ms;
      transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    } 
    &:hover .regular-customers-list__icon, 
    &:focus .regular-customers-list__icon {
      fill:var(--accent-color);
      transition: fill 250ms;
      transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
    }
  }
  
  .regular-customers-list__item:not(:last-child){
    margin-right: 30px;
  }
  
  .regular-customers-list__icon {
    fill:#AFB1B8;
  }
  
